# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [2]:
!pwd
!ls -al

/c/Users/kwaku/dc-ds-071519/1-Module/week-2/day-6-pandas-part-2
total 41
drwxr-xr-x 1 kwaku 197609     0 Jul 22 09:45 .
drwxr-xr-x 1 kwaku 197609     0 Jul 22 09:37 ..
drwxr-xr-x 1 kwaku 197609     0 Jul 22 09:43 .ipynb_checkpoints
-rw-r--r-- 1 kwaku 197609 11325 Jul 22 09:44 heart.csv
-rw-r--r-- 1 kwaku 197609 18014 Jul 22 09:43 manipulating_data_with_pandas.ipynb
-rw-r--r-- 1 kwaku 197609  3356 Jul 22 09:37 pre_process_animal_shelter_data.py
-rw-r--r-- 1 kwaku 197609   136 Jul 22 09:37 states.csv

In [135]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [136]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [5]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [7]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [8]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
uci.describe().T # is transpose the output to make it more readable

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trestbps  303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalach   303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exang     303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slope     303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
ca        303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thal      303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
target    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

In [11]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [13]:
type(uci.age) # series object confirmation...i.e is a colunms

pandas.core.series.Series

In [14]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [16]:
uci.mean() # Try [shift] + [tab] here!

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [15]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

In [17]:
#count for only categorical variables

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [19]:
uci['age'].value_counts()[:10] # the top ten

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

In [20]:
uci['age'].value_counts()

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
64    10
41    10
63     9
67     9
55     8
45     8
42     8
53     8
61     8
65     8
43     8
66     7
50     7
48     7
46     7
49     5
47     5
39     4
35     4
68     4
70     4
40     3
71     3
69     3
38     3
34     2
37     2
77     1
76     1
74     1
29     1
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [21]:
# Your code here!
uci['restecg'].value_counts()[:10]

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [138]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [146]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104443 entries, 0 to 104442
Data columns (total 12 columns):
Animal ID           104443 non-null object
Name                71690 non-null object
DateTime            104443 non-null object
MonthYear           104443 non-null object
Date of Birth       104443 non-null object
Outcome Type        104436 non-null object
Outcome Subtype     47572 non-null object
Animal Type         104443 non-null object
Sex upon Outcome    104441 non-null object
Age upon Outcome    104429 non-null object
Breed               104443 non-null object
Color               104443 non-null object
dtypes: object(12)
memory usage: 9.6+ MB

In [139]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800396,NaN,07/22/2019 09:01:00 AM,07/22/2019 09:01:00 AM,07/20/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Raccoon,Gray
1,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
2,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
3,A800069,NaN,07/21/2019 07:57:00 PM,07/21/2019 07:57:00 PM,06/02/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby
4,A795483,*Herb,07/21/2019 07:15:00 PM,07/21/2019 07:15:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White

In [147]:
animal_outcomes['Breed'].value_counts()[:20] # count of breed for top 20

Domestic Shorthair Mix       29921
Pit Bull Mix                  7934
Labrador Retriever Mix        6181
Chihuahua Shorthair Mix       5984
Domestic Medium Hair Mix      3018
German Shepherd Mix           2685
Bat Mix                       1741
Domestic Shorthair            1689
Domestic Longhair Mix         1487
Australian Cattle Dog Mix     1345
Siamese Mix                   1202
Bat                            990
Dachshund Mix                  973
Boxer Mix                      876
Border Collie Mix              855
Miniature Poodle Mix           799
Siberian Husky Mix             611
Catahoula Mix                  608
Staffordshire Mix              605
Australian Shepherd Mix        605
Name: Breed, dtype: int64

In [148]:
animal_outcomes.describe()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
count,104443,71690,104443,104443,104443,104436,47572,104443,104441,104429,104443,104443
unique,93667,17335,85996,85996,6541,9,21,5,5,49,2434,574
top,A721033,Max,04/18/2016 12:00:00 AM,04/18/2016 12:00:00 AM,09/01/2015,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,30,467,39,39,118,45304,26040,59485,36711,19150,29921,10911

In [149]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104443 entries, 0 to 104442
Data columns (total 12 columns):
Animal ID           104443 non-null object
Name                71690 non-null object
DateTime            104443 non-null object
MonthYear           104443 non-null object
Date of Birth       104443 non-null object
Outcome Type        104436 non-null object
Outcome Subtype     47572 non-null object
Animal Type         104443 non-null object
Sex upon Outcome    104441 non-null object
Age upon Outcome    104429 non-null object
Breed               104443 non-null object
Color               104443 non-null object
dtypes: object(12)
memory usage: 9.6+ MB

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [28]:
animal_outcomes.Breed.value_counts() # all breeds

Domestic Shorthair Mix                           29921
Pit Bull Mix                                      7934
Labrador Retriever Mix                            6181
Chihuahua Shorthair Mix                           5984
Domestic Medium Hair Mix                          3018
German Shepherd Mix                               2685
Bat Mix                                           1741
Domestic Shorthair                                1688
Domestic Longhair Mix                             1487
Australian Cattle Dog Mix                         1345
Siamese Mix                                       1202
Bat                                                990
Dachshund Mix                                      973
Boxer Mix                                          876
Border Collie Mix                                  855
Miniature Poodle Mix                               799
Siberian Husky Mix                                 611
Catahoula Mix                                      608
Staffordshire Mix                                  605
Australian Shepherd Mix                            605
Rat Terrier Mix                                    589
Yorkshire Terrier Mix                              586
Raccoon Mix                                        535
Beagle Mix                                         523
Great Pyrenees Mix                                 520
Miniature Schnauzer Mix                            519
Jack Russell Terrier Mix                           519
Chihuahua Longhair Mix                             470
Cairn Terrier Mix                                  461
Pointer Mix                                        455
                                                 ...
Golden Retriever/Finnish Spitz                       1
Dachshund Longhair/Pembroke Welsh Corgi              1
Chinese Sharpei/Chow Chow                            1
Collie Rough/Catahoula                               1
Cairn Terrier/Cairn Terrier                          1
Boxer/Pug                                            1
Britannia Petit Mix                                  1
Shetland Sheepdog/Keeshond                           1
Greyhound/Dalmatian                                  1
Siberian Husky/Catahoula                             1
Rottweiler/Australian Kelpie                         1
Boxer/Australian Kelpie                              1
American Bulldog/Blue Lacy                           1
Greyhound/Airedale Terrier                           1
Cavalier Span/Papillon                               1
Soft Coated Wheaten Terrier/Miniature Poodle         1
Mexican Hairless/Chihuahua Shorthair                 1
Afghan Hound Mix                                     1
Labrador Retriever/Bullmastiff                       1
Border Collie/English Springer Spaniel               1
Shih Tzu/Affenpinscher                               1
American Staffordshire Terrier/French Bulldog        1
Norfolk Terrier/Cairn Terrier                        1
Shih Tzu/Cavalier Span                               1
Norwich Terrier/Bichon Frise                         1
Dutch Shepherd/Great Pyrenees                        1
Rabbit Lh                                            1
English Bulldog/Australian Cattle Dog                1
Dachshund/Toy Poodle                                 1
Chinese Sharpei/Rhod Ridgeback                       1
Name: Breed, Length: 2434, dtype: int64

In [158]:
animal_outcomes.Breed.value_counts()[0:10] # for top 20 breeds

Domestic Shorthair Mix       29921
Pit Bull Mix                  7934
Labrador Retriever Mix        6181
Chihuahua Shorthair Mix       5984
Domestic Medium Hair Mix      3018
German Shepherd Mix           2685
Bat Mix                       1741
Domestic Shorthair            1689
Domestic Longhair Mix         1487
Australian Cattle Dog Mix     1345
Name: Breed, dtype: int64

In [159]:
animal_outcomes[animal_outcomes['Animal Type']== 'Dog'].Breed.value_counts()[0:10] ###this code compares Animal types and
#

Pit Bull Mix                 7934
Labrador Retriever Mix       6181
Chihuahua Shorthair Mix      5984
German Shepherd Mix          2685
Australian Cattle Dog Mix    1345
Dachshund Mix                 973
Boxer Mix                     876
Border Collie Mix             855
Miniature Poodle Mix          799
Siberian Husky Mix            611
Name: Breed, dtype: int64

In [169]:
#create a subset datat where Breed is not black

animal_outcomes2=animal_outcomes[animal_outcomes['Breed'] != 'Black']
animal_outcomes2

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800396,NaN,07/22/2019 09:01:00 AM,07/22/2019 09:01:00 AM,07/20/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Raccoon,Gray
1,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
2,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
3,A800069,NaN,07/21/2019 07:57:00 PM,07/21/2019 07:57:00 PM,06/02/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby
4,A795483,*Herb,07/21/2019 07:15:00 PM,07/21/2019 07:15:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White
5,A795482,*Rain,07/21/2019 07:13:00 PM,07/21/2019 07:13:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White
6,A800146,Simba,07/21/2019 07:09:00 PM,07/21/2019 07:09:00 PM,07/16/2014,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Longhair,Orange Tabby/White
7,A799909,NaN,07/21/2019 07:06:00 PM,07/21/2019 07:06:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Tortie
8,A799908,NaN,07/21/2019 07:05:00 PM,07/21/2019 07:05:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Orange Tabby/White
9,A800468,Lulu,07/21/2019 07:03:00 PM,07/21/2019 07:03:00 PM,07/21/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pomeranian/Chihuahua Longhair,Buff
10,A800434,Gracie,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,09/21/2014,Return to Owner,NaN,Dog,Intact Female,4 years,Pit Bull,Blue/White
11,A800436,Lady,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,07/21/2017,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull,Blue/White
12,A800440,Chief,07/21/2019 06:33:00 PM,07/21/2019 06:33:00 PM,07/21/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Boston Terrier,Black/White
13,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
14,A799544,*Piper,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,05/31/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Black
15,A800091,NaN,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue
16,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black
17,A794647,*Squirtle,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,11/29/2018,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair,Black
18,A797152,Domino,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,04/05/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Black/White
19,A800089,NaN,07/21/2019 05:48:00 PM,07/21/2019 05:48:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Blue Tabby
20,A800088,NaN,07/21/2019 05:48:00 PM,07/21/2019 05:48:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Medium Hair Mix,Blue Tabby
21,A799675,NaN,07/21/2019 05:35:00 PM,07/21/2019 05:35:00 PM,05/10/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Black/White
22,A796429,*June,07/21/2019 05:29:00 PM,07/21/2019 05:29:00 PM,06/01/2018,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Black/White
23,A797011,*Nova,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/23/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Black
24,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
25,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream
26,A800467,NaN,07/21/2019 05:15:00 PM,07/21/2019 05:15:00 PM,07/21/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Black
27,A800090,NaN,07/21/2019 05:15:00 PM,07/21/2019 05:15:00 PM,05/25/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair Mix,Blue
28,A800065,NaN,07/21/2019 05:14:00 PM,07/21/2019 05:14:00 PM,05/22/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,Blue
29,A718877,Blacky,07/21/2019 05:01:00 PM,07/21/2019 05:01:00 PM,07/08/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
104413,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
104414,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown
104415,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
104416,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan
104417,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
104418,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan
104419,A664260,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
104420,A664261,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
104421,A664262,NaN,10/01/2013 12:59:00 PM,10/01/2013 12:59:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
104422,A664263,NaN,10/01/2013 12:58:00 PM,10/01/2013 12:58:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
104423,A664271,NaN,10/01/2013 12:57:00 PM,10/01/2013 12:57:00 PM,09/24/2013,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
104424,A663495,Pikachu,10/01/2013 12:45:00 PM,10/01/2013 12:45:00 PM,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie
104425,A664219,NaN,10/01/2013 12:34:00 PM,10/01/2013 12:34:00 PM,08/08/2013,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White
104426,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
104427,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
104428,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
104429,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
104430,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
104431,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White
104432,A661795,Blakie,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie
104433,A656894,Jake,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black
104434,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
104435,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104436,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
104437,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
104438,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White
104439,A664237,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104440,A664236,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104441,A664235,NaN,10/01/2013 10:39:00 AM,10/01/2013 10:39:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104442,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black

In [ ]:
And_df = df[(df['Rating']>8) & (df['Votes']>100000)]

In [174]:
# code comparing two columns to create a subset dataframe
animal_outcomes3=animal_outcomes[(animal_outcomes['Breed'] != 'Black') & (animal_outcomes['Age upon Outcome'] > '2 months')]
animal_outcomes3

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800396,NaN,07/22/2019 09:01:00 AM,07/22/2019 09:01:00 AM,07/20/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Raccoon,Gray
2,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
6,A800146,Simba,07/21/2019 07:09:00 PM,07/21/2019 07:09:00 PM,07/16/2014,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Longhair,Orange Tabby/White
7,A799909,NaN,07/21/2019 07:06:00 PM,07/21/2019 07:06:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Tortie
8,A799908,NaN,07/21/2019 07:05:00 PM,07/21/2019 07:05:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Orange Tabby/White
9,A800468,Lulu,07/21/2019 07:03:00 PM,07/21/2019 07:03:00 PM,07/21/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pomeranian/Chihuahua Longhair,Buff
10,A800434,Gracie,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,09/21/2014,Return to Owner,NaN,Dog,Intact Female,4 years,Pit Bull,Blue/White
11,A800436,Lady,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,07/21/2017,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull,Blue/White
13,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan
17,A794647,*Squirtle,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,11/29/2018,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair,Black
18,A797152,Domino,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,04/05/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Black/White
24,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White
25,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream
26,A800467,NaN,07/21/2019 05:15:00 PM,07/21/2019 05:15:00 PM,07/21/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Black
29,A718877,Blacky,07/21/2019 05:01:00 PM,07/21/2019 05:01:00 PM,07/08/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,Black/White
30,A799757,Daisy,07/21/2019 04:59:00 PM,07/21/2019 04:59:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Collie Smooth,Black/White
32,A799351,Jane,07/21/2019 04:36:00 PM,07/21/2019 04:36:00 PM,07/07/2013,Adoption,NaN,Cat,Spayed Female,6 years,Domestic Shorthair,White/Brown
40,A795337,*Cello,07/21/2019 02:06:00 PM,07/21/2019 02:06:00 PM,05/19/2017,Adoption,NaN,Dog,Intact Male,2 years,Pit Bull,Tan
43,A798473,NaN,07/21/2019 01:45:00 PM,07/21/2019 01:45:00 PM,03/26/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Brown Tabby
51,A792606,*Shiro,07/21/2019 01:39:00 PM,07/21/2019 01:39:00 PM,03/21/2019,Adoption,NaN,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Black
52,A799771,*Sky,07/21/2019 01:39:00 PM,07/21/2019 01:39:00 PM,07/11/2017,Transfer,Partner,Cat,Intact Female,2 years,Domestic Shorthair,Blue
57,A763871,Guardian,07/21/2019 12:55:00 PM,07/21/2019 12:55:00 PM,06/18/2012,Adoption,Foster,Dog,Neutered Male,7 years,Great Pyrenees Mix,Cream
58,A795574,*Dill,07/21/2019 12:52:00 PM,07/21/2019 12:52:00 PM,04/20/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Black/White
59,A799968,*Julie,07/21/2019 12:48:00 PM,07/21/2019 12:48:00 PM,07/14/2017,Adoption,NaN,Dog,Spayed Female,2 years,Golden Retriever/Chow Chow,Red
60,A760521,Margo,07/21/2019 12:00:00 PM,07/21/2019 12:00:00 PM,10/19/2016,Adoption,NaN,Dog,Spayed Female,2 years,Akita Mix,White/Brown
61,A793206,*Sansa,07/21/2019 11:46:00 AM,07/21/2019 11:46:00 AM,03/17/2019,Adoption,Foster,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Black/White
62,A793208,*Davos,07/21/2019 11:46:00 AM,07/21/2019 11:46:00 AM,03/15/2019,Adoption,Foster,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Black/White
64,A800203,NaN,07/21/2019 11:12:00 AM,07/21/2019 11:12:00 AM,07/17/2017,Transfer,Snr,Cat,Neutered Male,2 years,Siamese,Seal Point/White
65,A800170,NaN,07/21/2019 11:11:00 AM,07/21/2019 11:11:00 AM,03/17/2019,Transfer,Snr,Cat,Intact Female,4 months,Domestic Shorthair,Cream Tabby/White
67,A800169,NaN,07/21/2019 11:10:00 AM,07/21/2019 11:10:00 AM,03/17/2019,Transfer,Snr,Cat,Intact Female,4 months,Domestic Shorthair,Orange Tabby/White
...,...,...,...,...,...,...,...,...,...,...,...,...
104392,A664111,*Izzy,10/01/2013 06:54:00 PM,10/01/2013 06:54:00 PM,04/01/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Blue Tabby/White
104394,A658012,Lucio,10/01/2013 06:27:00 PM,10/01/2013 06:27:00 PM,07/05/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
104396,A664151,Mantequilla,10/01/2013 06:19:00 PM,10/01/2013 06:19:00 PM,09/30/2008,Return to Owner,NaN,Dog,Neutered Male,5 years,Chihuahua Shorthair,Red
104397,A664288,NaN,10/01/2013 06:02:00 PM,10/01/2013 06:02:00 PM,10/01/2011,Euthanasia,Suffering,Cat,Intact Male,2 years,Domestic Shorthair Mix,Blue/White
104400,A663827,NaN,10/01/2013 05:02:00 PM,10/01/2013 05:02:00 PM,01/29/2013,Adoption,NaN,Dog,Neutered Male,8 months,Labrador Retriever Mix,Brown
104403,A664238,NaN,10/01/2013 04:47:00 PM,10/01/2013 04:47:00 PM,06/01/2013,Euthanasia,Medical,Cat,Unknown,4 months,American Shorthair Mix,Black/White
104406,A664218,NaN,10/01/2013 04:11:00 PM,10/01/2013 04:11:00 PM,03/30/2013,Transfer,SCRP,Cat,Neutered Male,6 months,Domestic Medium Hair Mix,Blue Tabby/White
104407,A663605,*Joe,10/01/2013 04:05:00 PM,10/01/2013 04:05:00 PM,06/06/2013,Return to Owner,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Brown Tabby/White
104408,A664280,Coco,10/01/2013 03:51:00 PM,10/01/2013 03:51:00 PM,10/01/2007,Return to Owner,NaN,Dog,Spayed Female,6 years,Miniature Poodle Mix,Apricot
104409,A662104,Gracie,10/01/2013 03:47:00 PM,10/01/2013 03:47:00 PM,08/29/2010,Adoption,NaN,Dog,Spayed Female,3 years,Labrador Retriever Mix,Black/White
104410,A521520,Nina,10/01/2013 03:39:00 PM,10/01/2013 03:39:00 PM,09/07/2006,Return to Owner,NaN,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
104411,A664233,Stevie,10/01/2013 03:33:00 PM,10/01/2013 03:33:00 PM,09/30/2010,Euthanasia,Suffering,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
104412,A663886,Trudy,10/01/2013 03:08:00 PM,10/01/2013 03:08:00 PM,09/25/2011,Euthanasia,Medical,Dog,Spayed Female,2 years,Pit Bull Mix,Black/White
104413,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White
104415,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White
104417,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black
104419,A664260,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
104420,A664261,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
104424,A663495,Pikachu,10/01/2013 12:45:00 PM,10/01/2013 12:45:00 PM,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie
104426,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White
104427,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
104429,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle
104430,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White
104432,A661795,Blakie,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie
104433,A656894,Jake,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black
104434,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black
104435,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown
104436,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White
104437,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White
104438,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [193]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [198]:
# we set a function called successor that adds 1 to each column of the data
def successor(x):
    "add one_to_each valueof x in colunm"
    return x + 1

In [199]:
uci.head() # check each column and see

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [201]:
uci.applymap(successor)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2
5,58,2,1,141,193,1,2,149,1,1.4,2,1,2,2
6,57,1,2,141,295,1,1,154,1,2.3,2,1,3,2
7,45,2,2,121,264,1,2,174,1,1.0,3,1,4,2
8,53,2,3,173,200,2,2,163,1,1.5,3,1,4,2
9,58,2,3,151,169,1,2,175,1,2.6,3,1,3,2
10,55,2,1,141,240,1,2,161,1,2.2,3,1,3,2
11,49,1,3,131,276,1,2,140,1,1.2,3,1,3,2
12,50,2,2,131,267,1,2,172,1,1.6,3,1,3,2
13,65,2,4,111,212,1,1,145,2,2.8,2,1,3,2
14,59,1,4,151,284,2,1,163,1,2.0,3,1,3,2
15,51,1,3,121,220,1,2,159,1,2.6,2,1,3,2
16,59,1,3,121,341,1,2,173,1,1.0,3,1,3,2
17,67,1,4,151,227,1,2,115,1,3.6,1,1,3,2
18,44,2,1,151,248,1,2,172,1,2.5,3,1,3,2
19,70,1,4,141,240,1,2,152,1,2.8,3,3,3,2
20,60,2,1,136,235,1,2,162,1,1.5,2,1,4,2
21,45,2,3,131,234,1,2,180,2,1.4,3,1,3,2
22,43,2,1,141,227,1,2,179,1,1.0,3,1,3,2
23,62,2,3,151,244,2,2,138,2,2.0,2,1,3,2
24,41,2,4,141,200,1,2,179,2,2.4,3,1,4,2
25,72,1,2,161,303,1,2,163,1,1.4,3,3,3,2
26,60,2,3,151,213,2,2,158,1,2.6,3,1,3,2
27,52,2,3,111,176,1,2,124,1,1.6,3,1,3,2
28,66,1,3,141,418,2,1,158,1,1.8,3,2,3,2
29,54,2,3,131,198,2,1,153,1,2.2,1,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,59,2,1,101,235,1,2,157,1,1.1,3,2,4,1
274,48,2,1,111,276,1,1,119,2,2.0,2,2,3,1
275,53,2,1,126,213,1,2,169,1,2.0,3,3,4,1
276,59,2,1,147,219,1,2,106,1,3.0,2,2,4,1
277,58,2,2,125,262,1,2,142,1,1.3,3,1,4,1
278,59,1,2,137,320,2,1,153,1,1.0,3,3,3,1
279,62,2,1,139,167,1,1,126,2,4.6,2,2,3,1
280,43,2,1,137,316,1,2,126,2,2.8,2,1,2,1
281,53,2,1,129,205,2,2,157,2,2.0,2,1,1,1
282,60,2,3,127,219,2,2,135,1,3.2,2,2,2,1
283,41,2,1,153,224,1,2,182,1,1.0,3,1,4,1
284,62,2,1,141,208,1,1,139,2,2.9,3,2,4,1
285,47,2,1,141,312,1,2,121,2,2.8,2,3,4,1
286,60,2,4,135,205,1,2,163,1,1.8,3,3,3,1
287,58,2,2,155,233,1,1,165,1,1.0,3,2,3,1
288,58,2,1,111,336,1,2,144,2,4.0,2,2,4,1
289,56,1,1,129,206,1,3,131,2,3.0,2,2,4,1
290,62,2,1,149,204,1,2,162,1,1.0,3,2,4,1
291,59,2,1,115,319,1,3,141,1,5.4,1,4,2,1
292,59,1,1,171,226,2,1,147,2,3.8,2,3,2,1
293,68,2,3,153,213,1,1,151,1,1.8,2,1,4,1
294,45,2,1,121,170,1,2,145,2,3.8,1,1,2,1
295,64,2,1,141,188,1,1,145,2,5.0,3,3,4,1
296,64,1,1,125,198,1,2,137,2,1.0,2,1,3,1
297,60,2,1,165,177,2,1,91,1,2.0,2,3,2,1
298,58,1,1,141,242,1,2,124,2,1.2,2,1,4,1
299,46,2,4,111,265,1,2,133,1,2.2,2,1,4,1
300,69,2,1,145,194,2,2,142,1,4.4,2,3,4,1
301,58,2,1,131,132,1,2,116,2,2.2,2,2,4,1
302,58,1,2,131,237,1,1,175,1,1.0,2,2,3,1

In [200]:
uci.applymap(successor).head()#we use the applymap to inplement the successor function above

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [205]:
uci['age'][0:10]

0    63
1    37
2    41
3    56
4    57
5    57
6    56
7    44
8    52
9    57
Name: age, dtype: int64

In [207]:
uci['age'].map(successor).head()

0    64
1    38
2    42
3    57
4    58
Name: age, dtype: int64

In [208]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [209]:
uci['oldpeak'].head()

0    2.3
1    3.5
2    1.4
3    0.8
4    0.6
Name: oldpeak, dtype: float64

In [214]:
uci['oldpeak'].map(lambda x: x*2) #this multiplies all values in old peak (x) by *2

0      4.6
1      7.0
2      2.8
3      1.6
4      1.2
5      0.8
6      2.6
7      0.0
8      1.0
9      3.2
10     2.4
11     0.4
12     1.2
13     3.6
14     2.0
15     3.2
16     0.0
17     5.2
18     3.0
19     3.6
20     1.0
21     0.8
22     0.0
23     2.0
24     2.8
25     0.8
26     3.2
27     1.2
28     1.6
29     2.4
      ...
273    0.2
274    2.0
275    2.0
276    4.0
277    0.6
278    0.0
279    7.2
280    3.6
281    2.0
282    4.4
283    0.0
284    3.8
285    3.6
286    1.6
287    0.0
288    6.0
289    4.0
290    0.0
291    8.8
292    5.6
293    1.6
294    5.6
295    8.0
296    0.0
297    2.0
298    0.4
299    2.4
300    6.8
301    2.4
302    0.0
Name: oldpeak, Length: 303, dtype: float64

In [215]:
uci['oldpeak'].map(lambda x: round(x))[:4] #rounds the numbers to the nearest figure.

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [216]:
uci.age.map(lambda x: str(x)).head(5) #change the age into strings

0    63
1    37
2    41
3    56
4    57
Name: age, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [221]:
print(animal_outcomes)[0:10]

       Animal ID       Name                DateTime               MonthYear  \
0        A800396        NaN  07/22/2019 09:01:00 AM  07/22/2019 09:01:00 AM
1        A800130      Kolby  07/21/2019 10:56:00 PM  07/21/2019 10:56:00 PM
2        A799457      Hazel  07/21/2019 10:55:00 PM  07/21/2019 10:55:00 PM
3        A800069        NaN  07/21/2019 07:57:00 PM  07/21/2019 07:57:00 PM
4        A795483      *Herb  07/21/2019 07:15:00 PM  07/21/2019 07:15:00 PM
5        A795482      *Rain  07/21/2019 07:13:00 PM  07/21/2019 07:13:00 PM
6        A800146      Simba  07/21/2019 07:09:00 PM  07/21/2019 07:09:00 PM
7        A799909        NaN  07/21/2019 07:06:00 PM  07/21/2019 07:06:00 PM
8        A799908        NaN  07/21/2019 07:05:00 PM  07/21/2019 07:05:00 PM
9        A800468       Lulu  07/21/2019 07:03:00 PM  07/21/2019 07:03:00 PM
10       A800434     Gracie  07/21/2019 06:48:00 PM  07/21/2019 06:48:00 PM
11       A800436       Lady  07/21/2019 06:48:00 PM  07/21/2019 06:48:00 PM
12       A800440      Chief  07/21/2019 06:33:00 PM  07/21/2019 06:33:00 PM
13       A800181        NaN  07/21/2019 06:09:00 PM  07/21/2019 06:09:00 PM
14       A799544     *Piper  07/21/2019 05:53:00 PM  07/21/2019 05:53:00 PM
15       A800091        NaN  07/21/2019 05:53:00 PM  07/21/2019 05:53:00 PM
16       A800129    *Delyse  07/21/2019 05:53:00 PM  07/21/2019 05:53:00 PM
17       A794647  *Squirtle  07/21/2019 05:51:00 PM  07/21/2019 05:51:00 PM
18       A797152     Domino  07/21/2019 05:51:00 PM  07/21/2019 05:51:00 PM
19       A800089        NaN  07/21/2019 05:48:00 PM  07/21/2019 05:48:00 PM
20       A800088        NaN  07/21/2019 05:48:00 PM  07/21/2019 05:48:00 PM
21       A799675        NaN  07/21/2019 05:35:00 PM  07/21/2019 05:35:00 PM
22       A796429      *June  07/21/2019 05:29:00 PM  07/21/2019 05:29:00 PM
23       A797011      *Nova  07/21/2019 05:20:00 PM  07/21/2019 05:20:00 PM
24       A800185     Celest  07/21/2019 05:20:00 PM  07/21/2019 05:20:00 PM
25       A793174    *Wilbur  07/21/2019 05:20:00 PM  07/21/2019 05:20:00 PM
26       A800467        NaN  07/21/2019 05:15:00 PM  07/21/2019 05:15:00 PM
27       A800090        NaN  07/21/2019 05:15:00 PM  07/21/2019 05:15:00 PM
28       A800065        NaN  07/21/2019 05:14:00 PM  07/21/2019 05:14:00 PM
29       A718877     Blacky  07/21/2019 05:01:00 PM  07/21/2019 05:01:00 PM
...          ...        ...                     ...                     ...
104413   A663887      Hooch  10/01/2013 03:07:00 PM  10/01/2013 03:07:00 PM
104414   A663935        NaN  10/01/2013 02:15:00 PM  10/01/2013 02:15:00 PM
104415   A663201       Buck  10/01/2013 02:14:00 PM  10/01/2013 02:14:00 PM
104416   A663955        NaN  10/01/2013 02:13:00 PM  10/01/2013 02:13:00 PM
104417   A664171     Knight  10/01/2013 01:59:00 PM  10/01/2013 01:59:00 PM
104418   A663938        NaN  10/01/2013 01:16:00 PM  10/01/2013 01:16:00 PM
104419   A664260        NaN  10/01/2013 01:00:00 PM  10/01/2013 01:00:00 PM
104420   A664261        NaN  10/01/2013 01:00:00 PM  10/01/2013 01:00:00 PM
104421   A664262        NaN  10/01/2013 12:59:00 PM  10/01/2013 12:59:00 PM
104422   A664263        NaN  10/01/2013 12:58:00 PM  10/01/2013 12:58:00 PM
104423   A664271        NaN  10/01/2013 12:57:00 PM  10/01/2013 12:57:00 PM
104424   A663495    Pikachu  10/01/2013 12:45:00 PM  10/01/2013 12:45:00 PM
104425   A664219        NaN  10/01/2013 12:34:00 PM  10/01/2013 12:34:00 PM
104426   A613553      Beast  10/01/2013 12:32:00 PM  10/01/2013 12:32:00 PM
104427   A664258     Sylvio  10/01/2013 12:27:00 PM  10/01/2013 12:27:00 PM
104428   A648744     Claire  10/01/2013 12:27:00 PM  10/01/2013 12:27:00 PM
104429   A663546      *Gage  10/01/2013 12:24:00 PM  10/01/2013 12:24:00 PM
104430   A664225        Lou  10/01/2013 12:13:00 PM  10/01/2013 12:13:00 PM
104431   A663342       Deco  10/01/2013 12:05:00 PM  10/01/2013 12:05:00 PM
104432   A661795     Blakie  10/01/2013 11:53:00 AM  10/01/2013 11:53:00 AM
104433   A656894       Jake  10/01/2013 11:53:00 AM  10/01/2013 11:53:00 AM
104434   A663833  Baby Girl  10/01/2013 11:50:00 AM  10/01/2013 11:50:00 AM
104435   A663572    *Starla  10/01/2013 11:42:00 AM  10/01/2013 11:42:00 AM
104436   A663888        NaN  10/01/2013 11:13:00 AM  10/01/2013 11:13:00 AM
104437   A663646        NaN  10/01/2013 11:12:00 AM  10/01/2013 11:12:00 AM
104438   A664223       Moby  10/01/2013 11:03:00 AM  10/01/2013 11:03:00 AM
104439   A664237        NaN  10/01/2013 10:44:00 AM  10/01/2013 10:44:00 AM
104440   A664236        NaN  10/01/2013 10:44:00 AM  10/01/2013 10:44:00 AM
104441   A664235        NaN  10/01/2013 10:39:00 AM  10/01/2013 10:39:00 AM
104442   A659834    *Dudley  10/01/2013 09:31:00 AM  10/01/2013 09:31:00 AM

       Date of Birth     Outcome Type Outcome Subtype Animal Type  \
0         07/20/2017       Euthanasia     Rabies Risk       Other
1         05/01/2019         Adoption             NaN         Dog
2         07/08/2013              NaN             NaN         Dog
3         06/02/2019         Transfer         Partner         Cat
4         04/21/2019         Adoption             NaN         Cat
5         04/21/2019         Adoption             NaN         Cat
6         07/16/2014         Adoption             NaN         Cat
7         04/13/2019         Adoption             NaN         Cat
8         04/13/2019         Adoption             NaN         Cat
9         07/21/2016  Return to Owner             NaN         Dog
10        09/21/2014  Return to Owner             NaN         Dog
11        07/21/2017  Return to Owner             NaN         Dog
12        07/21/2018  Return to Owner             NaN         Dog
13        03/17/2019         Adoption             NaN         Dog
14        05/31/2019         Transfer         Partner         Cat
15        05/25/2019         Transfer         Partner         Cat
16        07/16/2018         Adoption             NaN         Dog
17        11/29/2018         Adoption             NaN         Cat
18        04/05/2019         Adoption             NaN         Cat
19        05/25/2019         Transfer         Partner         Cat
20        05/25/2019         Transfer         Partner         Cat
21        05/10/2019         Adoption             NaN         Cat
22        06/01/2018         Adoption             NaN         Cat
23        04/23/2019         Adoption             NaN         Cat
24        01/17/2019         Adoption             NaN         Dog
25        04/20/2017         Adoption          Foster         Dog
26        07/21/2017       Euthanasia     Rabies Risk       Other
27        05/25/2019         Adoption             NaN         Cat
28        05/22/2019         Adoption             NaN         Cat
29        07/08/2015  Return to Owner             NaN         Dog
...              ...              ...             ...         ...
104413    09/25/2010       Euthanasia         Medical         Dog
104414    09/26/1999         Transfer         Partner         Dog
104415    09/14/2011         Transfer         Partner         Dog
104416    09/27/1999         Transfer         Partner         Dog
104417    12/30/2012  Return to Owner             NaN         Dog
104418    09/27/2003       Euthanasia       Suffering         Dog
104419    09/10/2013         Transfer         Partner         Cat
104420    09/10/2013         Transfer         Partner         Cat
104421    09/22/2013         Transfer         Partner         Cat
104422    09/22/2013         Transfer         Partner         Cat
104423    09/24/2013         Transfer         Partner         Cat
104424    05/19/2013  Return to Owner             NaN         Cat
104425    08/08/2013             Died       In Kennel         Cat
104426    05/06/2010  Return to Owner             NaN         Dog
104427    10/01/2006  Return to Owner             NaN         Dog
104428    03/04/2012  Return to Owner             NaN         Dog
104429    09/20/2011       Euthanasia      Aggressive         Dog
104430    09/30/2010  Return to Owner             NaN         Dog
104431    09/17/2012       Euthanasia        Behavior         Dog
104432    03/25/2013         Adoption             NaN         Cat
104433    04/22/2013         Adoption             NaN         Cat
104434    09/24/2004  Return to Owner             NaN         Dog
104435    09/21/2010         Adoption             NaN         Dog
104436    09/25/2011         Transfer         Partner         Dog
104437    09/22/2010         Transfer         Partner         Dog
104438    09/30/2009  Return to Owner             NaN         Dog
104439    09/24/2013         Transfer         Partner         Cat
104440    09/24/2013         Transfer         Partner         Cat
104441    09/24/2013         Transfer         Partner         Cat
104442    07/23/2013         Adoption          Foster         Dog

       Sex upon Outcome Age upon Outcome                           Breed  \
0               Unknown          2 years                         Raccoon
1         Spayed Female         2 months                           Boxer
2         Spayed Female          6 years                        Pit Bull
3           Intact Male          1 month              Domestic Shorthair
4         Neutered Male         2 months              Domestic Shorthair
5         Neutered Male         2 months              Domestic Shorthair
6         Neutered Male          5 years               Domestic Longhair
7         Spayed Female         3 months              Domestic Shorthair
8         Spayed Female         3 months              Domestic Shorthair
9         Intact Female          3 years   Pomeranian/Chihuahua Longhair
10        Intact Female          4 years                        Pit Bull
11        Intact Female          2 years                        Pit Bull
12          Intact Male           1 year                  Boston Terrier
13        Spayed Female         4 months             German Shepherd Mix
14          Intact Male          1 month              Domestic Shorthair
15          Intact Male          1 month          Domestic Shorthair Mix
16        Spayed Female           1 year  German Shepherd/Siberian Husky
17        Neutered Male         7 months              Domestic Shorthair
18        Neutered Male         3 months              Domestic Shorthair
19        Intact Female          1 month          Domestic Shorthair Mix
20          Intact Male          1 month        Domestic Medium Hair Mix
21        Spayed Female         2 months              Domestic Shorthair
22        Spayed Female           1 year          Domestic Shorthair Mix
23        Spayed Female         2 months        Domestic Medium Hair Mix
24        Spayed Female         6 months              Labrador Retriever
25        Neutered Male          2 years               Staffordshire Mix
26              Unknown          2 years                             Bat
27        Spayed Female          1 month          Domestic Shorthair Mix
28        Spayed Female          1 month              Domestic Shorthair
29        Neutered Male          4 years          Labrador Retriever Mix
...                 ...              ...                             ...
104413    Neutered Male          3 years                    Pit Bull Mix
104414      Intact Male         14 years         Chihuahua Shorthair Mix
104415    Neutered Male          2 years                    Pit Bull Mix
104416    Intact Female         14 years         Chihuahua Shorthair Mix
104417    Neutered Male         9 months                Basset Hound Mix
104418    Neutered Male         10 years   Rottweiler/Labrador Retriever
104419    Intact Female          3 weeks          Domestic Shorthair Mix
104420    Intact Female          3 weeks          Domestic Shorthair Mix
104421      Intact Male          1 weeks          Domestic Shorthair Mix
104422      Intact Male          1 weeks          Domestic Shorthair Mix
104423    Intact Female           1 week          Domestic Shorthair Mix
104424    Spayed Female         4 months          Domestic Shorthair Mix
104425      Intact Male          1 month          Domestic Shorthair Mix
104426    Neutered Male          3 years                    Pit Bull Mix
104427    Neutered Male          7 years                  Weimaraner Mix
104428    Spayed Female           1 year             Anatol Shepherd Mix
104429    Neutered Male          2 years            American Bulldog Mix
104430    Neutered Male          3 years                    Shih Tzu Mix
104431    Neutered Male           1 year              Chesa Bay Retr Mix
104432    Spayed Female         6 months          Domestic Shorthair Mix
104433    Neutered Male         5 months          Domestic Shorthair Mix
104434    Spayed Female          9 years          Labrador Retriever Mix
104435    Spayed Female          3 years             Anatol Shepherd Mix
104436    Spayed Female          2 years                       Boxer Mix
104437    Neutered Male          3 years                  Toy Poodle Mix
104438    Neutered Male          4 years                     Bulldog Mix
104439          Unknown           1 week          Domestic Shorthair Mix
104440          Unknown           1 week          Domestic Shorthair Mix
104441          Unknown           1 week          Domestic Shorthair Mix
104442    Neutered Male         2 months          Labrador Retriever Mix

                      Color
0                      Gray
1                     Brown
2                 Tan/White
3              Orange Tabby
4        Orange Tabby/White
5        Orange Tabby/White
6        Orange Tabby/White
7                    Tortie
8        Orange Tabby/White
9                      Buff
10               Blue/White
11               Blue/White
12              Black/White
13                Black/Tan
14                    Black
15                     Blue
16              Brown/Black
17                    Black
18              Black/White
19               Blue Tabby
20               Blue Tabby
21              Black/White
22              Black/White
23                    Black
24                    White
25               Blue Cream
26                    Black
27                     Blue
28                     Blue
29              Black/White
...                     ...
104413            Red/White
104414                Brown
104415          Brown/White
104416            Black/Tan
104417                Black
104418            Black/Tan
104419          Black/White
104420               Tortie
104421         Orange Tabby
104422         Orange Tabby
104423         Orange Tabby
104424               Torbie
104425           Blue/White
104426          Black/White
104427               Silver
104428       White/Tricolor
104429  White/Brown Brindle
104430           Gray/White
104431            Red/White
104432               Tortie
104433                Black
104434                Black
104435          White/Brown
104436            Red/White
104437                White
104438                White
104439         Orange/White
104440         Orange/White
104441         Orange/White
104442                Black

[104443 rows x 12 columns]

TypeError: 'NoneType' object is not subscriptable

In [222]:
animal_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104443 entries, 0 to 104442
Data columns (total 12 columns):
Animal ID           104443 non-null object
Name                71690 non-null object
DateTime            104443 non-null object
MonthYear           104443 non-null object
Date of Birth       104443 non-null object
Outcome Type        104436 non-null object
Outcome Subtype     47572 non-null object
Animal Type         104443 non-null object
Sex upon Outcome    104441 non-null object
Age upon Outcome    104429 non-null object
Breed               104443 non-null object
Color               104443 non-null object
dtypes: object(12)
memory usage: 9.6+ MB

In [224]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A800396,NaN,07/22/2019 09:01:00 AM,07/22/2019 09:01:00 AM,07/20/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Raccoon,Gray
1,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown
2,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White
3,A800069,NaN,07/21/2019 07:57:00 PM,07/21/2019 07:57:00 PM,06/02/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby
4,A795483,*Herb,07/21/2019 07:15:00 PM,07/21/2019 07:15:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White

In [223]:
# Use an apply to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats
pd.to_datetime(animal_outcomes.DateTime)

0        2019-07-22 09:01:00
1        2019-07-21 22:56:00
2        2019-07-21 22:55:00
3        2019-07-21 19:57:00
4        2019-07-21 19:15:00
5        2019-07-21 19:13:00
6        2019-07-21 19:09:00
7        2019-07-21 19:06:00
8        2019-07-21 19:05:00
9        2019-07-21 19:03:00
10       2019-07-21 18:48:00
11       2019-07-21 18:48:00
12       2019-07-21 18:33:00
13       2019-07-21 18:09:00
14       2019-07-21 17:53:00
15       2019-07-21 17:53:00
16       2019-07-21 17:53:00
17       2019-07-21 17:51:00
18       2019-07-21 17:51:00
19       2019-07-21 17:48:00
20       2019-07-21 17:48:00
21       2019-07-21 17:35:00
22       2019-07-21 17:29:00
23       2019-07-21 17:20:00
24       2019-07-21 17:20:00
25       2019-07-21 17:20:00
26       2019-07-21 17:15:00
27       2019-07-21 17:15:00
28       2019-07-21 17:14:00
29       2019-07-21 17:01:00
                 ...
104413   2013-10-01 15:07:00
104414   2013-10-01 14:15:00
104415   2013-10-01 14:14:00
104416   2013-10-01 14:13:00
104417   2013-10-01 13:59:00
104418   2013-10-01 13:16:00
104419   2013-10-01 13:00:00
104420   2013-10-01 13:00:00
104421   2013-10-01 12:59:00
104422   2013-10-01 12:58:00
104423   2013-10-01 12:57:00
104424   2013-10-01 12:45:00
104425   2013-10-01 12:34:00
104426   2013-10-01 12:32:00
104427   2013-10-01 12:27:00
104428   2013-10-01 12:27:00
104429   2013-10-01 12:24:00
104430   2013-10-01 12:13:00
104431   2013-10-01 12:05:00
104432   2013-10-01 11:53:00
104433   2013-10-01 11:53:00
104434   2013-10-01 11:50:00
104435   2013-10-01 11:42:00
104436   2013-10-01 11:13:00
104437   2013-10-01 11:12:00
104438   2013-10-01 11:03:00
104439   2013-10-01 10:44:00
104440   2013-10-01 10:44:00
104441   2013-10-01 10:39:00
104442   2013-10-01 09:31:00
Name: DateTime, Length: 104443, dtype: datetime64[ns]

In [225]:
animal_outcomes.DateTime.dtype

dtype('O')

In [226]:
animal_outcomes.DateTime.head()

0    07/22/2019 09:01:00 AM
1    07/21/2019 10:56:00 PM
2    07/21/2019 10:55:00 PM
3    07/21/2019 07:57:00 PM
4    07/21/2019 07:15:00 PM
Name: DateTime, dtype: object

In [91]:
animal_outcomes['date_outcomes']= animal_outcomes['DateTime'].\
map(lambda X: pd.to_datetime(X[:10], format = '%m/%d/%Y', errors='ignore'))

In [93]:
#animal_outcomes.drop(columns ='DateTime', inplace=True)
animal_outcomes['date_outcomes']

0        2019-07-21
1        2019-07-21
2        2019-07-21
3        2019-07-21
4        2019-07-21
5        2019-07-21
6        2019-07-21
7        2019-07-21
8        2019-07-21
9        2019-07-21
10       2019-07-21
11       2019-07-21
12       2019-07-21
13       2019-07-21
14       2019-07-21
15       2019-07-21
16       2019-07-21
17       2019-07-21
18       2019-07-21
19       2019-07-21
20       2019-07-21
21       2019-07-21
22       2019-07-21
23       2019-07-21
24       2019-07-21
25       2019-07-21
26       2019-07-21
27       2019-07-21
28       2019-07-21
29       2019-07-21
            ...
104412   2013-10-01
104413   2013-10-01
104414   2013-10-01
104415   2013-10-01
104416   2013-10-01
104417   2013-10-01
104418   2013-10-01
104419   2013-10-01
104420   2013-10-01
104421   2013-10-01
104422   2013-10-01
104423   2013-10-01
104424   2013-10-01
104425   2013-10-01
104426   2013-10-01
104427   2013-10-01
104428   2013-10-01
104429   2013-10-01
104430   2013-10-01
104431   2013-10-01
104432   2013-10-01
104433   2013-10-01
104434   2013-10-01
104435   2013-10-01
104436   2013-10-01
104437   2013-10-01
104438   2013-10-01
104439   2013-10-01
104440   2013-10-01
104441   2013-10-01
Name: date_outcomes, Length: 104442, dtype: datetime64[ns]

In [94]:
animal_outcomes['dob']= animal_outcomes['Date of Birth'].\
map(lambda X: pd.to_datetime(X[:10], format = '%m/%d/%Y', errors='ignore'))

In [95]:
animal_outcomes.dob

0        2019-05-01
1        2013-07-08
2        2019-06-02
3        2019-04-21
4        2019-04-21
5        2014-07-16
6        2019-04-13
7        2019-04-13
8        2016-07-21
9        2014-09-21
10       2017-07-21
11       2018-07-21
12       2019-03-17
13       2019-05-25
14       2019-05-31
15       2018-07-16
16       2018-11-29
17       2019-04-05
18       2019-05-25
19       2019-05-25
20       2019-05-10
21       2018-06-01
22       2017-04-20
23       2019-04-23
24       2019-01-17
25       2017-07-21
26       2019-05-25
27       2019-05-22
28       2015-07-08
29       2019-01-11
            ...
104412   2010-09-25
104413   1999-09-26
104414   2011-09-14
104415   1999-09-27
104416   2012-12-30
104417   2003-09-27
104418   2013-09-10
104419   2013-09-10
104420   2013-09-22
104421   2013-09-22
104422   2013-09-24
104423   2013-05-19
104424   2013-08-08
104425   2010-05-06
104426   2012-03-04
104427   2006-10-01
104428   2011-09-20
104429   2010-09-30
104430   2012-09-17
104431   2013-04-22
104432   2013-03-25
104433   2004-09-24
104434   2010-09-21
104435   2011-09-25
104436   2010-09-22
104437   2009-09-30
104438   2013-09-24
104439   2013-09-24
104440   2013-09-24
104441   2013-07-23
Name: dob, Length: 104442, dtype: datetime64[ns]

In [97]:
animal_outcomes['age']= animal_outcomes.date_outcomes-animal_outcomes.dob

In [103]:
animal_outcomes['age'].dt.days

0           81
1         2204
2           49
3           91
4           91
5         1831
6           99
7           99
8         1095
9         1764
10         730
11         365
12         126
13          57
14          51
15         370
16         234
17         107
18          57
19          57
20          72
21         415
22         822
23          89
24         185
25         730
26          57
27          60
28        1474
29         191
          ...
104412    1102
104413    5119
104414     748
104415    5118
104416     275
104417    3657
104418      21
104419      21
104420       9
104421       9
104422       7
104423     135
104424      54
104425    1244
104426     576
104427    2557
104428     742
104429    1097
104430     379
104431     162
104432     190
104433    3294
104434    1106
104435     737
104436    1105
104437    1462
104438       7
104439       7
104440       7
104441      70
Name: age, Length: 104442, dtype: int64

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [106]:
uci.groupby('sex') # returns a dataframe object or a group by objects

#### `.groups` and `.get_group()`

In [107]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [109]:
uci.groupby('sex').get_group(0) # .tail() or one genders

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2,1
16,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2,1
19,69,0,3,140,239,0,1,151,0,1.8,2,2,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2,1
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2,1
36,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2,1
39,65,0,2,160,360,0,0,151,0,0.8,2,0,2,1
40,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
43,53,0,0,130,264,0,0,143,0,0.4,1,0,2,1
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
49,53,0,0,138,234,0,0,160,0,0.0,2,0,2,1
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2,1
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2,1
54,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2,1
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2,1
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2,1
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2,1
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2,1
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2,1
154,39,0,2,138,220,0,1,152,0,0.0,1,0,2,1
155,58,0,0,130,197,0,1,131,0,0.6,1,0,2,1
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2,1
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2,0
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3,0
182,61,0,0,130,330,0,0,169,0,0.0,2,0,2,0
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3,0
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3,0
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
215,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3,0
220,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3,0
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2,0
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2,0
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
263,63,0,0,108,269,0,1,169,1,1.8,1,2,2,0
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [111]:
uci.groupby('sex').mean()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

In [110]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [120]:
animal_outcomes.groupby('Animal Type').mean()

                    year
Animal Type
Bird         2016.533473
Cat          2016.105425
Dog          2016.148743
Livestock    2016.375000
Other        2016.081581

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [119]:
animal_outcomes

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcomes,dob,age,year
0,A800130,Kolby,07/21/2019 10:56:00 PM,07/21/2019 10:56:00 PM,05/01/2019,Adoption,NaN,Dog,Spayed Female,2 months,Boxer,Brown,2019-07-21,2019-05-01,81 days,2019
1,A799457,Hazel,07/21/2019 10:55:00 PM,07/21/2019 10:55:00 PM,07/08/2013,NaN,NaN,Dog,Spayed Female,6 years,Pit Bull,Tan/White,2019-07-21,2013-07-08,2204 days,2019
2,A800069,NaN,07/21/2019 07:57:00 PM,07/21/2019 07:57:00 PM,06/02/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby,2019-07-21,2019-06-02,49 days,2019
3,A795483,*Herb,07/21/2019 07:15:00 PM,07/21/2019 07:15:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White,2019-07-21,2019-04-21,91 days,2019
4,A795482,*Rain,07/21/2019 07:13:00 PM,07/21/2019 07:13:00 PM,04/21/2019,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair,Orange Tabby/White,2019-07-21,2019-04-21,91 days,2019
5,A800146,Simba,07/21/2019 07:09:00 PM,07/21/2019 07:09:00 PM,07/16/2014,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Longhair,Orange Tabby/White,2019-07-21,2014-07-16,1831 days,2019
6,A799909,NaN,07/21/2019 07:06:00 PM,07/21/2019 07:06:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Tortie,2019-07-21,2019-04-13,99 days,2019
7,A799908,NaN,07/21/2019 07:05:00 PM,07/21/2019 07:05:00 PM,04/13/2019,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair,Orange Tabby/White,2019-07-21,2019-04-13,99 days,2019
8,A800468,Lulu,07/21/2019 07:03:00 PM,07/21/2019 07:03:00 PM,07/21/2016,Return to Owner,NaN,Dog,Intact Female,3 years,Pomeranian/Chihuahua Longhair,Buff,2019-07-21,2016-07-21,1095 days,2019
9,A800434,Gracie,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,09/21/2014,Return to Owner,NaN,Dog,Intact Female,4 years,Pit Bull,Blue/White,2019-07-21,2014-09-21,1764 days,2019
10,A800436,Lady,07/21/2019 06:48:00 PM,07/21/2019 06:48:00 PM,07/21/2017,Return to Owner,NaN,Dog,Intact Female,2 years,Pit Bull,Blue/White,2019-07-21,2017-07-21,730 days,2019
11,A800440,Chief,07/21/2019 06:33:00 PM,07/21/2019 06:33:00 PM,07/21/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Boston Terrier,Black/White,2019-07-21,2018-07-21,365 days,2019
12,A800181,NaN,07/21/2019 06:09:00 PM,07/21/2019 06:09:00 PM,03/17/2019,Adoption,NaN,Dog,Spayed Female,4 months,German Shepherd Mix,Black/Tan,2019-07-21,2019-03-17,126 days,2019
13,A800091,NaN,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue,2019-07-21,2019-05-25,57 days,2019
14,A799544,*Piper,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,05/31/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair,Black,2019-07-21,2019-05-31,51 days,2019
15,A800129,*Delyse,07/21/2019 05:53:00 PM,07/21/2019 05:53:00 PM,07/16/2018,Adoption,NaN,Dog,Spayed Female,1 year,German Shepherd/Siberian Husky,Brown/Black,2019-07-21,2018-07-16,370 days,2019
16,A794647,*Squirtle,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,11/29/2018,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair,Black,2019-07-21,2018-11-29,234 days,2019
17,A797152,Domino,07/21/2019 05:51:00 PM,07/21/2019 05:51:00 PM,04/05/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Black/White,2019-07-21,2019-04-05,107 days,2019
18,A800089,NaN,07/21/2019 05:48:00 PM,07/21/2019 05:48:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Blue Tabby,2019-07-21,2019-05-25,57 days,2019
19,A800088,NaN,07/21/2019 05:48:00 PM,07/21/2019 05:48:00 PM,05/25/2019,Transfer,Partner,Cat,Intact Male,1 month,Domestic Medium Hair Mix,Blue Tabby,2019-07-21,2019-05-25,57 days,2019
20,A799675,NaN,07/21/2019 05:35:00 PM,07/21/2019 05:35:00 PM,05/10/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair,Black/White,2019-07-21,2019-05-10,72 days,2019
21,A796429,*June,07/21/2019 05:29:00 PM,07/21/2019 05:29:00 PM,06/01/2018,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Black/White,2019-07-21,2018-06-01,415 days,2019
22,A793174,*Wilbur,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/20/2017,Adoption,Foster,Dog,Neutered Male,2 years,Staffordshire Mix,Blue Cream,2019-07-21,2017-04-20,822 days,2019
23,A797011,*Nova,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,04/23/2019,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Medium Hair Mix,Black,2019-07-21,2019-04-23,89 days,2019
24,A800185,Celest,07/21/2019 05:20:00 PM,07/21/2019 05:20:00 PM,01/17/2019,Adoption,NaN,Dog,Spayed Female,6 months,Labrador Retriever,White,2019-07-21,2019-01-17,185 days,2019
25,A800467,NaN,07/21/2019 05:15:00 PM,07/21/2019 05:15:00 PM,07/21/2017,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Black,2019-07-21,2017-07-21,730 days,2019
26,A800090,NaN,07/21/2019 05:15:00 PM,07/21/2019 05:15:00 PM,05/25/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair Mix,Blue,2019-07-21,2019-05-25,57 days,2019
27,A800065,NaN,07/21/2019 05:14:00 PM,07/21/2019 05:14:00 PM,05/22/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,Blue,2019-07-21,2019-05-22,60 days,2019
28,A718877,Blacky,07/21/2019 05:01:00 PM,07/21/2019 05:01:00 PM,07/08/2015,Return to Owner,NaN,Dog,Neutered Male,4 years,Labrador Retriever Mix,Black/White,2019-07-21,2015-07-08,1474 days,2019
29,A799757,Daisy,07/21/2019 04:59:00 PM,07/21/2019 04:59:00 PM,01/11/2019,Adoption,NaN,Dog,Spayed Female,6 months,Collie Smooth,Black/White,2019-07-21,2019-01-11,191 days,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104412,A663887,Hooch,10/01/2013 03:07:00 PM,10/01/2013 03:07:00 PM,09/25/2010,Euthanasia,Medical,Dog,Neutered Male,3 years,Pit Bull Mix,Red/White,2013-10-01,2010-09-25,1102 days,2013
104413,A663935,NaN,10/01/2013 02:15:00 PM,10/01/2013 02:15:00 PM,09/26/1999,Transfer,Partner,Dog,Intact Male,14 years,Chihuahua Shorthair Mix,Brown,2013-10-01,1999-09-26,5119 days,2013
104414,A663201,Buck,10/01/2013 02:14:00 PM,10/01/2013 02:14:00 PM,09/14/2011,Transfer,Partner,Dog,Neutered Male,2 years,Pit Bull Mix,Brown/White,2013-10-01,2011-09-14,748 days,2013
104415,A663955,NaN,10/01/2013 02:13:00 PM,10/01/2013 02:13:00 PM,09/27/1999,Transfer,Partner,Dog,Intact Female,14 years,Chihuahua Shorthair Mix,Black/Tan,2013-10-01,1999-09-27,5118 days,2013
104416,A664171,Knight,10/01/2013 01:59:00 PM,10/01/2013 01:59:00 PM,12/30/2012,Return to Owner,NaN,Dog,Neutered Male,9 months,Basset Hound Mix,Black,2013-10-01,2012-12-30,275 days,2013
104417,A663938,NaN,10/01/2013 01:16:00 PM,10/01/2013 01:16:00 PM,09/27/2003,Euthanasia,Suffering,Dog,Neutered Male,10 years,Rottweiler/Labrador Retriever,Black/Tan,2013-10-01,2003-09-27,3657 days,2013
104418,A664261,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie,2013-10-01,2013-09-10,21 days,2013
104419,A664260,NaN,10/01/2013 01:00:00 PM,10/01/2013 01:00:00 PM,09/10/2013,Transfer,Partner,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White,2013-10-01,2013-09-10,21 days,2013
104420,A664262,NaN,10/01/2013 12:59:00 PM,10/01/2013 12:59:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9 days,2013
104421,A664263,NaN,10/01/2013 12:58:00 PM,10/01/2013 12:58:00 PM,09/22/2013,Transfer,Partner,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-22,9 days,2013
104422,A664271,NaN,10/01/2013 12:57:00 PM,10/01/2013 12:57:00 PM,09/24/2013,Transfer,Partner,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby,2013-10-01,2013-09-24,7 days,2013
104423,A663495,Pikachu,10/01/2013 12:45:00 PM,10/01/2013 12:45:00 PM,05/19/2013,Return to Owner,NaN,Cat,Spayed Female,4 months,Domestic Shorthair Mix,Torbie,2013-10-01,2013-05-19,135 days,2013
104424,A664219,NaN,10/01/2013 12:34:00 PM,10/01/2013 12:34:00 PM,08/08/2013,Died,In Kennel,Cat,Intact Male,1 month,Domestic Shorthair Mix,Blue/White,2013-10-01,2013-08-08,54 days,2013
104425,A613553,Beast,10/01/2013 12:32:00 PM,10/01/2013 12:32:00 PM,05/06/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Pit Bull Mix,Black/White,2013-10-01,2010-05-06,1244 days,2013
104426,A648744,Claire,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,03/04/2012,Return to Owner,NaN,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor,2013-10-01,2012-03-04,576 days,2013
104427,A664258,Sylvio,10/01/2013 12:27:00 PM,10/01/2013 12:27:00 PM,10/01/2006,Return to Owner,NaN,Dog,Neutered Male,7 years,Weimaraner Mix,Silver,2013-10-01,2006-10-01,2557 days,2013
104428,A663546,*Gage,10/01/2013 12:24:00 PM,10/01/2013 12:24:00 PM,09/20/2011,Euthanasia,Aggressive,Dog,Neutered Male,2 years,American Bulldog Mix,White/Brown Brindle,2013-10-01,2011-09-20,742 days,2013
104429,A664225,Lou,10/01/2013 12:13:00 PM,10/01/2013 12:13:00 PM,09/30/2010,Return to Owner,NaN,Dog,Neutered Male,3 years,Shih Tzu Mix,Gray/White,2013-10-01,2010-09-30,1097 days,2013
104430,A663342,Deco,10/01/2013 12:05:00 PM,10/01/2013 12:05:00 PM,09/17/2012,Euthanasia,Behavior,Dog,Neutered Male,1 year,Chesa Bay Retr Mix,Red/White,2013-10-01,2012-09-17,379 days,2013
104431,A656894,Jake,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,04/22/2013,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Black,2013-10-01,2013-04-22,162 days,2013
104432,A661795,Blakie,10/01/2013 11:53:00 AM,10/01/2013 11:53:00 AM,03/25/2013,Adoption,NaN,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Tortie,2013-10-01,2013-03-25,190 days,2013
104433,A663833,Baby Girl,10/01/2013 11:50:00 AM,10/01/2013 11:50:00 AM,09/24/2004,Return to Owner,NaN,Dog,Spayed Female,9 years,Labrador Retriever Mix,Black,2013-10-01,2004-09-24,3294 days,2013
104434,A663572,*Starla,10/01/2013 11:42:00 AM,10/01/2013 11:42:00 AM,09/21/2010,Adoption,NaN,Dog,Spayed Female,3 years,Anatol Shepherd Mix,White/Brown,2013-10-01,2010-09-21,1106 days,2013
104435,A663888,NaN,10/01/2013 11:13:00 AM,10/01/2013 11:13:00 AM,09/25/2011,Transfer,Partner,Dog,Spayed Female,2 years,Boxer Mix,Red/White,2013-10-01,2011-09-25,737 days,2013
104436,A663646,NaN,10/01/2013 11:12:00 AM,10/01/2013 11:12:00 AM,09/22/2010,Transfer,Partner,Dog,Neutered Male,3 years,Toy Poodle Mix,White,2013-10-01,2010-09-22,1105 days,2013
104437,A664223,Moby,10/01/2013 11:03:00 AM,10/01/2013 11:03:00 AM,09/30/2009,Return to Owner,NaN,Dog,Neutered Male,4 years,Bulldog Mix,White,2013-10-01,2009-09-30,1462 days,2013
104438,A664237,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7 days,2013
104439,A664236,NaN,10/01/2013 10:44:00 AM,10/01/2013 10:44:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7 days,2013
104440,A664235,NaN,10/01/2013 10:39:00 AM,10/01/2013 10:39:00 AM,09/24/2013,Transfer,Partner,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,2013-10-01,2013-09-24,7 days,2013
104441,A659834,*Dudley,10/01/2013 09:31:00 AM,10/01/2013 09:31:00 AM,07/23/2013,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black,2013-10-01,2013-07-23,70 days,2013

In [132]:
# Your code here

animal_outcomes['year']=animal_outcomes.date_outcomes.dt.year

In [133]:

animal_outcomes['month']=animal_outcomes.date_outcomes.dt.month

In [134]:

animal_outcomes[animal_outcomes['Outcome Type'] == 'Adoption'].groupby(['year', 'month']).size()

year  month
2013  10        606
      11        552
      12        684
2014  1         518
      2         437
      3         483
      4         439
      5         507
      6         660
      7         907
      8         816
      9         607
      10        582
      11        519
      12        652
2015  1         540
      2         484
      3         472
      4         402
      5         629
      6         706
      7         896
      8         721
      9         630
      10        583
      11        658
      12        656
2016  1         599
      2         539
      3         540
               ...
2017  2         647
      3         440
      4         510
      5         702
      6         746
      7         867
      8         851
      9         686
      10        709
      11        575
      12        649
2018  1         572
      2         508
      3         592
      4         471
      5         620
      6         790
      7         808
      8         914
      9         665
      10        698
      11        482
      12        803
2019  1         757
      2         554
      3         664
      4         531
      5         716
      6        1019
      7         621
Length: 70, dtype: int64

In [126]:
animal_outcomes['month']

0          7
1          7
2          7
3          7
4          7
5          7
6          7
7          7
8          7
9          7
10         7
11         7
12         7
13         7
14         7
15         7
16         7
17         7
18         7
19         7
20         7
21         7
22         7
23         7
24         7
25         7
26         7
27         7
28         7
29         7
          ..
104412    10
104413    10
104414    10
104415    10
104416    10
104417    10
104418    10
104419    10
104420    10
104421    10
104422    10
104423    10
104424    10
104425    10
104426    10
104427    10
104428    10
104429    10
104430    10
104431    10
104432    10
104433    10
104434    10
104435    10
104436    10
104437    10
104438    10
104439    10
104440    10
104441    10
Name: month, Length: 104442, dtype: int64

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values = 'sex', columns = 'target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here